{%extends 'base.html'%}
{{title}}
{%block content%}

       <div class="container">
        {%if error_statement%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{error_statement}}
        </div>
        {%endif%}
    <h1>Subscribe</h1>
    <br>
    <form action="/form" method="POST">
      <div class="mb-3">
       <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Forst Name" name="first_name" value="{{first_name}}">
       </div>
       <div class="mb-3">
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name" name="last_name" value="{{last_name}}">
          </div>
          <div class="mb-3">
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" name="email" value="{{email}}">
              </div>
       
       
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{%endblock%}
    